body{
    height: 2000px;
}
 
#navbar{
    top:-50px;
    position: fixed;
    background-color: #a2a2a2;
     width:100%;
     overflow: hidden;
 }


 

#navbar a{
    text-decoration: none;
    color:#ffffff;
    padding:14px 16px;  
    float: left;
    text-align: center;
    font-family:sans-serif;
}

#navbar a:hover{
    color:#a2a2a2; 
    background-color: #ffffff;
}
 










